
- var AlbDscr = "Албания подойдет любителям отдыха на Средиземноморском побережье (летом),хайкинга и замков (летом, осенью и весной). Исходя из того, что инфраструктуратуристических услуг только развивается и все прибрежные города не блещут достопримечательностями, крайне рекомендую попадать в страну с целью устроитьавтомобильный тур. Прокат доступный, движение привычное хоть и балкански-хаотичное. Из личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные ия подойдет любителям отдыха на Средиземноморском побережье (летом),хайкинга и замков (летом, осенью и весной). Исходя из того, что инфраструктуратуристических услуг только развивается и все прибрежные города не блещут достопримечательностями, крайне рекомендую попадать в страну с целью устроитьавтомобильный тур. Прокат доступный, движение привычное хоть и балкански-хаотичное. Из личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные в туристических местахИз личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные в туристических местах.";
- var ChDscr = "Албания подойдет любителям отдыха на Средиземноморском побережье (летом),хайкинга и замков (летом, осенью и весной). Исходя из того, что инфраструктуратуристических услуг только развивается и все прибрежные города не блещут достопримечательностями, крайне рекомендую попадать в страну с целью устроитьавтомобильный тур. Прокат доступный, движение привычное хоть и балкански-хаотичное. Из личных ощущений - ни один из крупных населенных пунктов не подойдет любителям гороия подойдет любителям отдыха на Средиземноморском побережье (летом),хайкинга и замков (летом, осенью и весной). Исходя из того, что инфраструктуратуристических услуг только развивается и все прибрежные города не блещут достопримечательностями, крайне рекомендую попадать в страну с целью устроитьавтомобильный тур. Прокат доступный, движение привычное хоть и балкански-хаотичное. Из личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные дского туризма.Интересными являются разве что набережные в туристических местахИз личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные в туристических местах.";
- var UAIDscr = "Албания подойдет любителям отдыха на Средиземноморском побережье (летом),хайкинга и замков (летом, осенью и весной). Исходя из того, что инфраструктуратуристических услуг только развивается и все прибрежные города не блещут достопримечательностями, крайне рекомендую попадать в страну с целью устроитьавтомобильный тур. Прокат доступный, движение привычное хоть и балкански-хаотичное. Из личных ощущений - ни один из крупных населенных пунктов не ия подойдет любителям отдыха на Средиземноморском побережье (летом),хайкинга и замков (летом, осенью и весной). Исходя из того, что инфраструктуратуристических услуг только развивается и все прибрежные города не блещут достопримечательностями, крайне рекомендую попадать в страну с целью устроитьавтомобильный тур. Прокат доступный, движение привычное хоть и балкански-хаотичное. Из личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные подойдет любителям городского туризма.Интересными являются разве что набережные в туристических местахИз личных ощущений - ни один из крупных населенных пунктов не подойдет любителям городского туризма.Интересными являются разве что набережные в туристических местах.";


mixin createMenuInfo(href, text, isActive=false)
	.menu_info
		a(href=href, class=isActive ? 'active' : '')=text

mixin createPartnerItem
	.contant_partners
		each i in [1,2,3]
			.contant_partners_item

mixin createTopItem(imageSrc, title, link, description)
	.contant_top_item
		img(src=imageSrc, alt="")
		p.contant_top_item_title
		
			strong
				a(href=link)= title
		.contant_top_item_dscr
			p= description
    
doctype html	
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Document
		link(rel="stylesheet", href="css/bootstrap-reboot.min.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="icon", href="./img/favicon/planet-earth-geography-svgrepo-com.svg", type="svg+xml")
	body
		.container
			.menu
				.menu_logo| ИнлайнТур
				+createMenuInfo("./info.html", "Инфо", true)
				+createMenuInfo("", "Главная")
				+createMenuInfo("", "О нас")

			.contant
				+createPartnerItem
			.contant_top
				+createTopItem(
					"./img/Albaniya/1_1.png",
					"Албания",
					"./country_1.html",
					description=AlbDscr
				)
				+createTopItem(
					"./img/China/1_1.png",
					"Китай",
					"#",
					description=ChDscr
				)
				+createTopItem(
					"./img/Dybai/1_1.jpg",
					"ОАЭ",
					"#",
					description=UAIDscr
				)
			footer
				.footer
					.footer_item
						p Моисеев Д.А.Б9121-09.03.04 2023-2024
					.footer_item_call
						p
							img(src="./img/favicon/free-icon-email-2512044.png", alt="")
							| Контакты
